.header {
   padding: 10px;  /*some padding */
  text-align: left; /* center the text */
  background: #2585a4; /* black background */
  color: white; /* white text color */
}

/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 80px;
}


.submit{
    padding:12px
}

.footer {
    background-color: #5aa5bc;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}