<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <!-- Link my CSS file to the html document -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="Site">

<!--Div class for the top banner of the site -->
<div class="header">
    <h1>NotBook for CS407</h1>
    <h2>Someone please make better html then this</h2>
</div>

<div class="Site-content">

    <!-- Here's how to change the URL through links, to navigate round the API locations -->>
    <a href="/test">Test Link </a> <br>
    <a href="/mod">Moderation</a><br>
    <a href="/screen">Screen time</a><br>
    <a href="/semantics">Semantics</a><br>


</div>

<!--A footer, doesn't stick to bottom of screen -->
<div class="footer">
    <p2>A lovely Footer</p2>
</div>
</body>
</html>

